<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
<head>
	  <div th:replace="~{fragment :: meta}"></div>
    <div th:replace="~{fragment :: styles}"></div>
    
    <title>レビュー一覧</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div class="samuraitravel-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>
		
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                <li class="breadcrumb-item"><a th:href="@{/houses}">民宿一覧</a></li>
                <li class="breadcrumb-item"><a th:href="@{'/houses/' + ${house.id}}">民宿詳細</a></li>
                <li class="breadcrumb-item active" aria-current="page">レビュー一覧</li>
            </ol>
        </nav>
    </div>

    <div id="reviews" class="container">
        <h1 class="mb-4 text-center" th:text="${house.name + 'のレビュー一覧'}">レビュー</h1>
        <div class="review-container row">
            <div th:each="review : ${reviewPage.content}" class="review-card col-md-6 mb-4">
								<div class="card">
										<div class="card-body">
										<h5 class="card-title" th:text="${review.user.name}">ユーザー名</h5>
    								<p class="card-text">
                    		<span class="samuraitravel-star" th:each="star : ${#numbers.sequence(1, 5)}" th:text="${star <= review.score} ? '&#9733;' : '&#9734;'"></span>
                		</p>
                		<p class="card-text" th:text="${#dates.format(review.createdAt, 'yyyy年MM月dd日')}"></p>
                		<p class="card-text" th:utext="${#strings.replace(review.content, '\n', '<br/>')}">コメント内容</p>
                		<div class="d-flex justify-content-between">
		                		<!-- 編集・削除リンクの追加 -->	
												<span sec:authorize="isAuthenticated()" th:if="${#authentication.principal.user.id == review.user.id}" class="edit-delete-buttons">	
														<a th:href="@{/houses/__${house.id}__/reviews/__${review.id}__/edit}" class="me-2">編集</a>	
														<a href="#" class="samuraitravel-link-danger" data-bs-toggle="modal" th:data-bs-target="${'#deleteReviewModal' + review.id}">削除</a>	
														<!-- 削除用モーダル -->	
														<div class="modal fade" th:id="${'deleteReviewModal' + review.id}" tabindex="-1" th:aria-labelledby="${'deleteReviewModalLabel' + review.id}">	
																<div class="modal-dialog">	
																		<div class="modal-content">
																				<div class="modal-header">	
																						<h5 class="modal-title" th:id="${'deleteReviewModalLabel' + review.id}" th:text="${house.name + 'のレビューを削除してもよろしいですか？'}"></h5>	
																						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>	
																				</div>	
																				<div class="modal-footer">	
																						<form method="post" th:action="@{/houses/__${house.id}__/reviews/__${review.id}__/delete}">	
																								<button type="submit" class="btn samuraitravel-btn-danger text-white shadow-sm">削除</button>	
																						</form>	
																				</div>	
																		</div>	
																</div>	
														</div>	
												</span>
												</div>
     								</div>
								</div>
            </div>
        </div>
        <ul class="pagenation justify-content-center">
            <li class="page-item" th:if="${reviewPage.hasPrevious()}">
                <a class="page-link" th:href="@{|/houses/${house.id}/reviews?page=${reviewPage.number - 1}&size=${reviewPage.size}|}">前</a>
            </li>
            <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, reviewPage.totalPages)}">
          			<a class="page-link" th:href="@{|/houses/${house.id}/reviews?page=${pageNum - 1}&size=${reviewPage.size}|}"
          					th:text="${pageNum}" th:classappend="${pageNum == reviewPage.number + 1}?'active'"></a>       
            </li>
            <li class="page-item" th:if="${reviewPage.hasNext()}">
                <a class="page-link" th:href="@{|/houses/${house.id}/reviews?page=${reviewPage.number + 1}&size=${reviewPage.size}|}">次</a>
            </li>
        </ul>
    </div>
   	<!-- フッター -->    
  	<div th:replace="~{fragment :: footer}"></div>
	</div>
	<div th:replace="~{fragment :: scripts}"></div>

</body>
</html>
